*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 246, 246);
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}

@media(min-width:992px){
    .container{
        width: 970;
    }
}

@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}

.main-heading{
    text-align: center;
}
.main-heading h2{
    color: aqua;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.main-heading h2::before{
    content: "";
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 5opx;
    margin:0 auto 100px ;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

.services{
    padding-top: 100px;
    padding-bottom: 100px;
}

@media(min-width:768px){
    .services .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-column-gap:40px ;
        grid-row-gap: 60px;
    }
}

.services .srv-box{
    display: flex;
}

.services .srv-box i{
    margin-right: 40px;
    color: rgb(120, 175, 175)
}

@media(max-width:767px){
    .services .srv-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i{
        justify-content: center;
        margin-bottom: 40px;
    }
}

.services .srv-box h3{
    color: aquamarine;
    margin-bottom: 30px;
}

.services .srv-box p{
    line-height: 2;
    color: #777;
}


